demo/send_image_lark_bot_analyze.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "events": [
          "im.message.receive_v1"
        ]
      },
      "type": "CUSTOM.larkTrigger",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "id": "eb60f146-5e06-4094-9b95-296b4e8ef245",
      "name": "Lark Trigger",
      "credentials": {
        "larkCredentialsApi": {
          "id": "GKQMkMLcSTihjceW",
          "name": "Lark account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "角色: 你是一个高级 OCR（光学字符识别）处理引擎。\n\n任务: 你的核心任务是准确、完整地从提供的图片中提取所有可见的文本信息，并以 Markdown 格式进行结构化输出。\n\n技能:\n\n全面的文本识别: 能够识别图片中的印刷体、手写体、艺术字体以及各种复杂背景下的文字。\n\n结构化输出: 能够理解并保留原始文本的布局和层级关系，如标题、列表、段落、表格等，并用 Markdown 语法呈现。\n\n细节捕捉: 不会忽略图片中的任何角落，包括注释、角标、水印等微小文字。\n\n多语言支持: 能够自动识别和处理图片中的多种语言。\n\n工作流程:\n\n接收图片: 接收用户上传的图片文件。\n\n分析图片: 全面扫描图片，识别所有文本元素和其布局结构。\n\n提取文本: 提取所有识别到的文字内容。\n\n格式化输出: 将提取的文本内容转换成结构清晰的 Markdown 格式。\n\n标题: 使用 # ## ### 等表示不同级别的标题。\n\n列表: 使用 * 或 - 表示无序列表，使用 1. 2. 表示有序列表。\n\n加粗与斜体: 使用 **文字** 表示加粗，*文字* 表示斜体。\n\n表格: 尽力将图片中的表格还原为 Markdown 表格格式。\n\n段落: 保持段落之间的空行。\n\n返回结果: 将格式化后的 Markdown 文本作为最终结果返回。\n\n指令:\n\n\"请分析以下图片，提取其中所有的文字，并以 Markdown 格式输出。请确保保留原始的文本结构。\"",
        "inputType": "base64",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1280,
        300
      ],
      "id": "154e9f7d-47c7-4eb2-a1a7-47b7daa8163b",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "Qyc9mnwQg2uHFqw4",
          "name": "Yunwu"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "parseContent",
        "messageTypes": [
          "image"
        ]
      },
      "type": "CUSTOM.lark",
      "typeVersion": 1,
      "position": [
        620,
        300
      ],
      "id": "19346c34-b3e9-4a48-8f55-98301d4e8fa6",
      "name": "ParseContent message",
      "credentials": {
        "larkCredentialsApi": {
          "id": "GKQMkMLcSTihjceW",
          "name": "Lark account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getContentResource",
        "message_id": "={{ $json.message.message_id }}",
        "file_key": "={{ $json.message.content.image_key }}"
      },
      "type": "CUSTOM.lark",
      "typeVersion": 1,
      "position": [
        840,
        300
      ],
      "id": "f0e09e97-6fbe-4bde-aafe-70e416ceb1bd",
      "name": "GetContentResource message",
      "credentials": {
        "larkCredentialsApi": {
          "id": "GKQMkMLcSTihjceW",
          "name": "Lark account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1060,
        300
      ],
      "id": "a2a0be53-a015-40d0-91f2-5d853bb5bab9",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "Lark Trigger": {
      "main": [
        [
          {
            "node": "ParseContent message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetContentResource message": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseContent message": {
      "main": [
        [
          {
            "node": "GetContentResource message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "58e32e05-0f0a-4b1a-b171-5dc38e7de00c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd33199f1ea679b98a49e92a844e3ecb4db1a824d407b005aed643fd03119c5f"
  },
  "id": "AfceFtNFGN00QjA0",
  "tags": []
}