demo/send_streaming_message.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.userMessage }}",
        "options": {
          "systemMessage": "=You are a helpful assitant!",
          "maxIterations": 10,
          "returnIntermediateSteps": false,
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -320,
        272
      ],
      "id": "41458b8d-4b63-48b6-84da-0b82a0ebe7d5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -224,
        480
      ],
      "id": "9fc51f36-da87-4a31-84e9-7a5b458f9ae2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -432,
        480
      ],
      "id": "421e19a2-57ed-4e76-b12f-1ee02c830635",
      "name": "DeepSeek Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7ad1c7d-c211-4490-a371-11ea4a8df622",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "5be8dad3-3ef6-495b-a4e9-1d134b34f918",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        272
      ],
      "id": "d6d68e9d-7705-4e1f-87f9-8b1f021c0359",
      "name": "Define user input"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "764a2b06-7474-42f9-810f-5bc6ba5de625",
        "authentication": "headerAuth",
        "responseMode": "streaming",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        272
      ],
      "id": "0f0b4621-e1b8-4579-95d7-09e06910ef78",
      "name": "Webhook",
      "webhookId": "764a2b06-7474-42f9-810f-5bc6ba5de625"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "parseContent"
      },
      "type": "n8n-nodes-feishu-lark.lark",
      "typeVersion": 1,
      "position": [
        -496,
        -32
      ],
      "id": "b6752964-f937-4180-818c-7950cf9f2794",
      "name": "ParseContent message",
      "webhookId": "5aa5263f-74ce-4ffa-9456-24723ba89f5d"
    },
    {
      "parameters": {
        "events": [
          "im.message.receive_v1"
        ]
      },
      "type": "n8n-nodes-feishu-lark.larkTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        -32
      ],
      "id": "e386c3e2-8d99-4069-8e55-bfa47d86db1d",
      "name": "Lark Trigger",
      "credentials": {
        "larkApi": {
          "id": "ZrS9NvFMN0qSw0jB",
          "name": "Lark Tenant Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "larkOAuth2Api",
        "resource": "message",
        "operation": "stream",
        "receive_id": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-feishu-lark.lark",
      "typeVersion": 1,
      "position": [
        -240,
        -32
      ],
      "id": "f138918a-876b-4ecc-89d1-d386ed92df0d",
      "name": "Stream message",
      "webhookId": "96c8bcd2-8f60-4b6e-9957-934faee1a726",
      "credentials": {
        "larkOAuth2Api": {
          "id": "b5qGv0nZo3MXcIVn",
          "name": "Lark User Token"
        }
      }
    }
  ],
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Define user input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Define user input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseContent message": {
      "main": [
        [
          {
            "node": "Stream message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lark Trigger": {
      "main": [
        [
          {
            "node": "ParseContent message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5d4765d1c3308210088457279a93fb3412724e843a17c74263bea0c56bb501a"
  }
}
