demo/webhook_workflow.json
{
  "name": "Debug",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2da646c1-d8e9-468f-b375-b228d722b7cd",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        64
      ],
      "id": "0a9b33f9-82fb-4372-9ae7-c68462e43c18",
      "name": "Webhook",
      "webhookId": "2da646c1-d8e9-468f-b375-b228d722b7cd"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"challenge\": \"{{ $json.data?.challenge || '' }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        304,
        64
      ],
      "id": "5bcb81f4-0b80-4f70-bf66-dbdcdc53fafa",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "parseWebhook",
        "events": [
          "any_event"
        ]
      },
      "type": "n8n-nodes-feishu-lark.lark",
      "typeVersion": 1,
      "position": [
        80,
        64
      ],
      "id": "cc2e6d6b-b601-4b29-bd45-fb776edf1dfb",
      "name": "ParseWebhook message",
      "webhookId": "11f3ef5e-d2d1-4c1c-a266-c3c8fdfc339b"
    }
  ],
  "pinData": {},
  "connections": {
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "ParseWebhook message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseWebhook message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1ab8ac4c-39cc-4f07-9c18-83b82016e774",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5d4765d1c3308210088457279a93fb3412724e843a17c74263bea0c56bb501a"
  },
  "id": "UcOkAMYivWOSc1iA",
  "tags": []
}
